/* CSS reset */
/*  1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*  2. Remove default margin  */
  * {
    margin: 0;
  }
  
  /*  3. Allow percentage-based heights in the application */
  html, body {
    height: 100%;
  }
  
  /*
    Typographic tweaks!  4. Add accessible line-height  5. Improve text rendering */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  /*  6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /*  7. Remove built-in form typography styles */
  input, button, textarea, select {
    font: inherit;
  }
  
  /*  8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /*  9. Create a root stacking context */
  #root, #__next {
    isolation: isolate;
  }

  /* CSS variables */
  :root {
    --text-desaturated-blue: hsl(238, 29%, 16%);
    --text-soft-red: hsl(14, 88%, 65%);
    --gradient-soft-violet: hsl(273, 75%, 66%);
    --gradient-soft-blue: hsl(240, 73%, 65%);
    --text-dark-gray-blue: hsl(237, 12%, 33%);
    --text-dark-grayish-blue: hsl(240, 6%, 50%);
    --dividers-gray-blue: hsl(240, 5%, 91%);
    --font-size: 0.75rem;
    --fw-400: 400;
    --fw-700: 700;
    --ff: 'Kumbh Sans', sans-serif;
  }

  /* TODO: 
      adjust footer background color on mobile
      make sure on mobile card and image are centered
  */

  body {
    background-image: linear-gradient(var(--gradient-soft-violet), var(--gradient-soft-blue));
    font-family: var(--ff);
    font-weight: var(--fw-400);
    font-size: var(--font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-desaturated-blue);
    padding-top: 8rem; /* fix this */
    min-height: 100vh;
  }

  main {
    min-width: 20.625rem;
  }

  .section__card {
    position: relative;
    background-color: hsl(0, 0%, 96%);
    border-radius: 1rem;
    max-width: 20.625rem;
    padding: 1rem;
    box-shadow: 0.2rem 1.2rem 0.8rem rgb(77, 67, 105);
  }

  .product_img {
    position: absolute;
    max-width: 70%;
    top: -6.5rem;
    right: 3rem;
    filter: drop-shadow(0.2rem 2rem 0.1rem var(--dividers-gray-blue));
    z-index: 1;
  }

  h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: var(--fw-700);
    padding-block: 1rem;
    padding-top: 6.5rem;
  }

  ul {
    list-style-type: none;
    padding: 0;
    padding-bottom: 2rem;
    position: relative;
  }

  summary {
    padding-block: 0.7rem;
    border-bottom: 1px solid var(--dividers-gray-blue);
    list-style-type: none;
    color: var(--text-dark-gray-blue);
    cursor: pointer;
    padding-right: 1rem;
  }

  summary:hover {
    color: var(--text-soft-red);
  }

  summary::after {
    content: url('./images/icon-arrow-down.svg');
    display: inline-block;
    position: absolute;
    right: -0.2rem;
    padding-left: 1rem;
  }

  details[open] > summary::after { 
    transform: rotate(180deg);
    right: -1.2rem;
  }

  details[open] > summary {
    font-weight: var(--fw-700);
    font-size: 0.8rem;
    border-bottom: none;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-1vw);
    }
    100% {
      opacity: 1;
    }
  }

  details[open] > p {
    border-bottom: 1px solid var(--dividers-gray-blue);
    padding-bottom: 0.8rem;
    color: var(--text-dark-grayish-blue);
    animation-name: fadeIn;
    animation-duration: 1s;
  }

  footer {
    padding-top: 4rem;
  }

  .attribution { 
    font-size: 11px; 
    text-align: center; 
  }

  .attribution a {
     color: hsl(228, 45%, 44%); 
  }

  @media (min-width: 50rem){
    
    main {
    }

    .section__card {
      min-width: 57.8125rem;
      display: grid;
      /* grid-template-columns: 20rem 30rem; */
      grid-template-columns: 350px 450px;
      overflow: hidden;
    }

    .product_img {
      grid-column: 1/1;
      grid-row: 2/2;
      position: relative;
      /* min-width: 90%; */
      min-width: 100%;
      padding-top: 2.5rem;
    }

    h1 {
      grid-column: 2/2;
      padding-block: 1rem;
      text-align: left;
      padding-top: 4rem;
    }

    ul {
      grid-column: 2/2;
    }
  }